<p><b> Tip broda:</b> {{data.shipType}}</p>
<p><b> Duzina:</b> {{data.shipLength}}</p>
<p><b> Broj motora:</b> {{data.engineNum}}</p>
<p><b> Snaga:</b> {{data.enginePower}}</p>
<p><b> Max brzina:</b> {{data.maxSpeed}}</p>
<p> <b>Uslovi otkazivanja:</b> {{data.cancellationCondition}}</p>
<p><b> Kapacitet koji moze da primi:</b> {{data.maxCapacity}}</p>

<p><b>Dodatne usluge (Izaberite koje zelite da ubacite u rezervaciju): </b></p>
<label *ngFor="let s of data.additionalServices" class= "service-item"  (change)="onCheckboxChange(s, $event)">
    <input type="checkbox" [value]="s"> {{s}}
</label>
<p> <b>Vlasnik broda:</b> {{data.owner.name+ " "+ data.owner.lastname}} </p>
