<div *ngIf="!isLoggedIn()">
  <nav class="navbar  navbar-expand-sm navbar-dark bg-dark " style="height: 50px;" >
    <ul class="navbar-nav">
      <li class="nav-item"><a class=" nav-link" href="#" style=" margin-left: 50px; ;color: white; font-size: small;" [routerLink]="['/cottages']"  (click)="reloadRoute('/cottages')" routerLinkActive="router-link-active" >Vikendice</a> </li> 
      <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/ships']" (click)="reloadRoute('/ships') " routerLinkActive="router-link-active" >Brodovi </a></li>
      <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/adventure']"  (click)="reloadRoute('/adventure') " routerLinkActive="router-link-active" >Avanture </a></li>
      <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small; margin-left: 880px;" [routerLink]="['/loginPage']" routerLinkActive="router-link-active" > SIGN IN </a></li>
      <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small; margin-left: 20px;" [routerLink]="['/registration']" routerLinkActive="router-link-active" > SIGN UP </a></li>
    </ul>
     
  </nav>
</div>


<div *ngIf="isLoggedIn()== true">

  <nav class="navbar  navbar-expand-sm navbar-dark bg-dark " *ngIf ="getRole() == 'ADMIN'" style="height: 50px;" >
      <ul class="navbar-nav">
        <li class="nav-item"><a class=" nav-link" href="#" style=" margin-left: 50px; ;color: white; font-size: small;" [routerLink]="['/wines']" routerLinkActive="router-link-active" >Funkcionalnost 1</a> </li> 
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/meats']" routerLinkActive="router-link-active" >Funkcionalnost 2  </a></li>
        <li calss = "nav-item"> <a class="nav-link " href="#" style=" color: white;font-size: small ; margin-left: 1000px;" (click)="logout()"> LOGOUT</a> </li> 
      </ul>    
  </nav>
</div> 

<div *ngIf="isLoggedIn()== true">

  <nav class="navbar  navbar-expand-sm navbar-dark bg-dark " *ngIf ="getRole() == 'CLIENT'" style="height: 50px;" >
      <ul class="navbar-nav">
        <li class="nav-item"><a class=" nav-link" href="#" style=" margin-left: 50px; ;color: white; font-size: small;" [routerLink]="['/client-cottages']" routerLinkActive="router-link-active" >Vikendice</a> </li> 
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/client-ships']"  routerLinkActive="router-link-active" > Brodovi  </a></li>
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/client-adventures']" routerLinkActive="router-link-active" > Avanture  </a></li>
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/reservation']" routerLinkActive="router-link-active" > Rezervisi </a></li>
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/clientProfile']" (click)="reloadRoute('/clientProfile') " routerLinkActive="router-link-active" > Profil  </a></li>
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/myReservations']" (click)="reloadRoute('/myReservations') " routerLinkActive="router-link-active" > Moje rezervacije  </a></li>
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/subscriptions']" (click)="reloadRoute('/subscriptions') " routerLinkActive="router-link-active" > Moje Pretplate  </a></li>
        <li calss = "nav-item"> <a class="nav-link " href="#" style=" color: white;font-size: small ; margin-left: 700px;" (click)="logout()"> LOGOUT</a> </li>
        
      </ul>
       
  </nav>
 
</div>

<div *ngIf="isLoggedIn()== true">

  <nav class="navbar  navbar-expand-sm navbar-dark bg-dark " *ngIf ="getRole() == 'SHIP_OWNER'" style="height: 50px;" >
      <ul class="navbar-nav">
        <li class="nav-item"><a class=" nav-link" href="#" style=" margin-left: 50px; ;color: white; font-size: small;" [routerLink]="['/cottages']" routerLinkActive="router-link-active" >Vikendice</a> </li> 
        <li class="nav-item"><a class=" nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/meats']" routerLinkActive="router-link-active" >funkcionalnost 2  </a></li>
        <li calss = "nav-item"> <a class="nav-link " href="#" style=" color: white;font-size: small ; margin-left: 1000px;" (click)="logout()"> LOGOUT</a> </li>
        
      </ul>
       
  </nav>
</div>





<router-outlet></router-outlet>
