
<div class="header">
  
    <button [routerLink]="['/fast-reservations']"
            [queryParams]="{ type: 'COTTAGE' }">
      🔥 View Discounts
    </button>
  
  </div>


<div class="card-container">

    <div class = "card" *ngFor="let cottage of cottageList">

        <button class="subscribe-btn" (click)="subscribe(cottage)">
            {{ cottage.isSubscribed ? '❤️ Subscribed' : '🤍 Subscribe' }}
        </button>

        <h3>{{cottage.name}}</h3>
        <p>{{cottage.address}}</p>
        <p>{{cottage.description}}</p>
        <p>Ocena ⭐: {{cottage.avgGrade}}</p>

    </div>
</div> 
