<div class="search-container">
    <input type="text" placeholder="Naziv" [(ngModel)]="filter.name" />
    <input type="text" placeholder="Grad" [(ngModel)]="filter.city" />
    <input type="number" placeholder="Ocena" [(ngModel)]="filter.minGrade" />
  
    <button (click)="filterShip()" [disabled]="!filter.name && !filter.city && !filter.minGrade">Search</button>
    <button (click)="reset()">Reset</button>
 </div>


 <div class="empty-state-card" *ngIf="shipList?.length  === 0">
    <h4>Nema rezultata :)</h4>
    <p>
      Za odabrane kriterijume nemamo brodove koji odgovaraju.
    </p>
  </div>


<div class="card-container">
    <div class = "card" *ngFor="let ship of shipList">
        <h3>{{ship.name}}</h3>
        <p>{{ship.address}}</p>
        <p>{{ship.city}}</p>
        <p>{{ship.description}}</p>
        <p>Ocena ⭐: {{ship.avgGrade}}</p>

    </div>
</div> 
