<div class="container">

  
    <table>
      <tr>
        <th>Tip zalbe</th>
        <th>Opis problema </th>
        <th>Status</th>
        <th>Odgovor</th>
      </tr>
  
      <tr *ngFor="let c of complaints">
        <td>{{ getTypeLabel(c.type) }}</td>
        <td>{{ c.text }}</td>
        <td>{{ c.responded ? 'Odgovoreno' : 'Na cekanju' }}</td>
        <td>
          <button  *ngIf="!c.responded" (click)="selectComplaint(c.id)">Odgovor</button>
        </td>
      </tr>
    </table>

    <div *ngIf="selectedComplaintId" class="response-box">

        <h3>Write response</h3>
      
        <textarea [(ngModel)]="responseText"></textarea>
      
        <button (click)="sendResponse()">Send</button>
      
      </div>