<form [formGroup]="searchForm" (ngSubmit)="onSearch()">

    <select formControlName="entity" >
      <option value="Vikendice">Vikendice</option>
      <option value="Brodovi">Brodovi</option>
      <option value="Avanture">Avanture</option>
    </select>

    
    <input type="datetime-local" [min] = "todayDateTime" formControlName="dateFrom">
    <input type="datetime-local" [min]= "todayDateTime" formControlName="dateTo">
  
    <input type="text" formControlName="city" placeholder="City">
  
    <input type="number" formControlName="numOfPeople"  min="0"   placeholder="People">
  
  
    <button type="submit" [disabled]="searchForm.invalid" >Search</button>
  
  </form>