<div class="search-container">

    <form [formGroup]="searchForm"   (ngSubmit)="onSearch()">

        <select formControlName="entity" >
        <option value="Vikendice">Vikendice</option>
        <option value="Brodovi">Brodovi</option>
        <option value="Avanture">Avanture</option>
        </select>

        
        <input type="datetime-local" [min] = "todayDateTime" formControlName="dateFrom">
        <input type="datetime-local" [min]= "todayDateTime" formControlName="dateTo">
    
        <input type="text" formControlName="city" placeholder="City">
    
        <input type="number" formControlName="numOfPeople"  min="0"   placeholder="People">
    
    
        <button type="submit" [disabled]="searchForm.invalid" >Search</button>
        <button (click)="reset()">Reset</button>
    </form>

    <div class="filters">
      
        <!-- SORT -->
        <select #sortSelect (change)="onSortChange(sortSelect.value)">
          <option value="">Sort by</option>
          <option value="priceAsc">Price ↑</option>
          <option value="priceDesc">Price ↓</option>
          <option value="ratingAsc">Rating ↑</option>
          <option value="ratingDesc">Rating ↓</option>
        </select>
      
      </div>

</div>   

<div class="empty-state-card" *ngIf="noResults">
    <h4>Nema rezultata :)</h4>
    <p>
      Nemamo slobodne <b>{{searchForm.value.entity}}</b> za datum koji ste izabrali! 
    </p>
</div>


<div class="card-container">
    <div class = "card" *ngFor="let r of resourceList">
        <h3>{{r.name}}</h3>
        <p>{{r.address}}</p>
        <p>{{r.city}}</p>
        <p>{{r.description}}</p>
        <p>{{r.pricePerDay}}€</p>
        <p>Ocena ⭐: {{r.avgGrade}}</p>

        <button (click)="openDetails(r)">View details</button>    
    </div>
</div>

<div *ngIf="showModal" class="modal-backdrop">

     <div class="modal">
        <h1>{{ selectedResource?.name }} 😍</h1>
        <app-cottage-details 
            *ngIf="selectedResource.type === 'COTTAGE'" 
            [data]="selectedResource">
        </app-cottage-details>

        <app-ship-details 
            *ngIf="selectedResource.type === 'SHIP'" 
            [data]="selectedResource">
         </app-ship-details>
        
        <app-adventure-details 
         *ngIf="selectedResource.type === 'ADVENTURE'" 
         [data]="selectedResource">
       </app-adventure-details> 
      
        <button (click)="closeModal()">Close</button>
      </div>
      
</div>

