
<div class="header">
  
    <button [routerLink]="['/fast-reservations']"
            [queryParams]="{ type: 'ADVENTURE' }">
      🔥 View Discounts
    </button>
  
</div>
<div class="card-container">
    <div class = "card" *ngFor="let adventure of adventureList">

        <button class="subscribe-btn" (click)="toggleSubscription(adventure)"  [class.active]="adventure.isSubscribed">
            {{ adventure.isSubscribed ? '❤️ Subscribed' : '🤍 Subscribe' }}
        </button>

        <h3>{{adventure.name}}</h3>
        <p>{{adventure.address}}</p>
        <p>{{adventure.city}}</p>
        <p>{{adventure.description}}</p>
        <p>Ocena ⭐: {{adventure.avgGrade}}</p>

        <button 
             [routerLink]="['/complaint']"
             [queryParams]="{ type: 'ADVENTURE', targetId: adventure.id }">
             Complain about adventure
        </button>

        <button 
            [routerLink]="['/complaint']"
            [queryParams]="{ type: 'INSTRUCTOR', targetId: adventure.instructor.id }">
            Complain about instructor
        </button> 

    </div>
</div> 
